.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.50);

  }
  
  .earth, .mars, .univers {
    width: 120px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 30px;
    font-family: "Madimi One", sans-serif;
    font-weight: 200;
    font-size: 20px;
    background-color: rgba(55, 64, 79, 0.8);
    text-decoration: none;
    border: 2px solid transparent;
    animation: no-brilho;
  }
  
  .active {
    background-color: #f0156f;
  }
  @keyframes brilho {
    /* Define a animação de brilho */
    from {
      border-color: transparent; /* Define a cor da borda como transparente */
    }
    to {
      border-color: white; /* Define a cor da borda como branco */
    }
  }
  @keyframes no-brilho{
    0%{

    }
  }
  