.title {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: white;
    background-color: rgba(3,58,146,0.8);
    padding: 20px;
    border-radius: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
    width: auto;
    margin-bottom: 20px;
}

.textInformations {
    color: white;
    background-color: rgba(55, 64, 79, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.apis {
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    font-weight: 200;
    font-size: 20px;
    background-color: rgba(55, 64, 79, 0.8);
    text-decoration: none;
    border: 2px solid transparent;
    animation: no-brilho;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 200px;
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.nasa{
    color: rgb(252,58,27);
}

div.blurred {
    filter: blur(5px);
}

/* Estilos para a div de sobreposição */
.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: auto;
    height: auto;
    padding: 20px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Madimi One", sans-serif;
    font-weight: 200;
    font-size: 20px;
    background-color: rgba(55, 64, 79, 1);
    text-decoration: none;
    border: 2px solid transparent;
    animation: no-brilho;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    position: absolute;
}